
<!-- header starts here -->

<nav class=" wiw-header navbar navbar-expand-lg navbar-light p-2">
  <div class="container">
    <!-- <a class="navbar-brand" href="index.html"><span class="fa fa-diamond"></span>WIW Learn</a> -->
    <!-- if logo is image enable this    -->
    <a class="navbar-brand" routerLink ="/">
      <img src="assets/images/wiw-logo-full.png" alt="Your logo" title="wiw logo" style="height: 55px;" />
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button  class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" (click)="isMenuCollapsed = true">About Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/features" (click)="isMenuCollapsed = true">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses" (click)="isMenuCollapsed = true">Courses</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/packages">Packages</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li> -->
       
      </ul>
      <div class="form-inline" >
        <!-- <a href="#login.html" class="login mr-4">Log in</a> -->
        <img src="assets/images/contact-image.svg" height="45px" width="45px" > &nbsp;
        <div>
          <strong  style="color:#0062A6 !important ;">Contact Our Team </strong> <br>
          <span style="color:#AF227A">+91 123456789</span>
          
         
        </div> &nbsp;&nbsp;
       
        <a (click)="isMenuCollapsed = true" routerLink="/contact" class="btn btn-outline-primary download-button">Contact Us</a>
      </div>
    </div>
  </div>
</nav>

  <!-- header ends here -->