
<!-- header starts here -->
<div class="wiw-bootstrap-header fixed-top">
<nav class=" wiw-header navbar navbar-expand-lg navbar-light p-2">
  <div class="container">
    <!-- <a class="navbar-brand" href="index.html"><span class="fa fa-diamond"></span>WIW Learn</a> -->
    <!-- if logo is image enable this    -->
    <a class="navbar-brand" routerLink ="/">
      <img src="assets/images/wiw-logo-full.png" alt="Your logo" title="wiw logo" style="height: 55px;" />
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button  class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item ">
          <a class="nav-link" routerLink="/features" (click)="isMenuCollapsed = true">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [matMenuTriggerFor]="courseMenu">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" (click)="isMenuCollapsed = true">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="/contact" >Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/packages">Packages</a>
        </li> -->
        
        <mat-menu #courseMenu="matMenu">
  <ng-container *ngFor="let course of courses; let i = index;">

    <ng-container *ngIf="course.grades && course.grades.length != 0; else noChildBlock">
      <a mat-menu-item [matMenuTriggerFor]="sub_menu">
        {{course.name}}
      </a>
      <mat-menu #sub_menu="matMenu">
        <ng-container *ngFor="let grade of course.grades; let gi = index;">
          <a mat-menu-item routerLink="/{{course.slug}}/{{grade.slug}}" (click)="isMenuCollapsed = true" style="text-decoration: none !important;">
            {{grade.name}}
          </a>
        </ng-container>

      </mat-menu>
    </ng-container>

    <ng-template #noChildBlock>
      <button mat-menu-item disabled>
        {{course.name}} <span>(coming soon)</span>
      </button>
    </ng-template>
  </ng-container>

</mat-menu>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li> -->
       
      </ul>
      <div class="form-inline" >
        <!-- <a href="#login.html" class="login mr-4">Log in</a> -->
        <img src="assets/images/contact-image.svg" height="45px" width="45px" > &nbsp;
        <div>
          <strong  style="color:#0062A6 !important ;">Let's Talk </strong> <br>
          <!-- <span style="color:#AF227A"></span> -->
          <a href="tel:0495-2760366" style="text-decoration: none !important; color:#0062A6 !important;">0495-2760366</a>
          
         
        </div>
       
       
      </div>
    </div>
  </div>
</nav>
</div>
  <!-- header ends here -->