<app-download></app-download>
<!-- footer goes here -->

<section class="wiw-market-footer">
  

  <footer class="footer-28 text-white wiw-bg">
    <!-- <img src="assets/white_curve-invert.png" alt="" style="width: 100%;"> -->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffff" fill-opacity="1" d="M0,160L48,154.7C96,149,192,139,288,133.3C384,128,480,128,576,154.7C672,181,768,235,864,234.7C960,235,1056,181,1152,154.7C1248,128,1344,128,1392,128L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg> -->
    <!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 56.65"><defs><style>.cls-1{fill:#fff;}</style></defs><title>wave-ed</title><path class="cls-1" d="M0,146l48-8c48-8,144-24,240-29.35,96-5.15,192-.15,288,13.35s192,34.5,288,34.65c96-.15,192-21.15,288-26.65s192,5.5,240,10.65l48,5.35V100H0Z" transform="translate(0 -100)"/></svg> -->
    
    <svg class="d-none d-md-block" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 89.65"><defs><style>.cls-1{fill:#fff;}</style></defs><title>wave-lg</title><path class="cls-1" d="M0,146l48-8c48-8,144-24,240-29.35,96-5.15,192-.15,288,13.35s192,34.5,288,34.65c96-.15,192-21.15,288-26.65s192,5.5,240,10.65l48,5.35V67H0Z" transform="translate(0 -67)"/></svg>
    
    
    <div class="footer-bg-layer">
      <div class="container py-lg-3">
        <div class="row footer-top-28">
          <div class="col-md-8 footer-list-28 mt-5">
            <h6 class="footer-title-28 text-light">Contact information</h6>
            <ul>
              <li class="text-light">
                <p class="text-light"><strong>Address</strong> : 3rd Floor MSons Arcade, Cherrotty Road, Calicut, Kerala-673001</p>
              </li>
              <li>
                <p class="text-light"><strong>Phone</strong> : <a href="tel:0495-2760366" class="text-light">0495-2760366</a></p>
              </li>
              <li>
                <p class="text-light"><strong>Email</strong> : <a href="mailto:info@thinkivatelearning.com" class="text-light">info@thinkivatelearning.com</a>
                </p>
              </li>
            </ul>

            <div class="main-social-footer-28 mt-3">
              <ul class="social-icons">
                <li class="facebook">
                  <a href="#" title="Facebook" class="text-light">
                    <span class="fa fa-facebook text-light" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="twitter">
                  <a href="#" title="Twitter">
                    <span class="fa fa-twitter text-light" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="dribbble">
                  <a href="#" title="Dribbble">
                    <span class="fa fa-dribbble text-light" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="google">
                  <a href="#" title="Google">
                    <span class="fa fa-google text-light" aria-hidden="true"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 footer-list-28 mt-5">
                <h6 class="footer-title-28 text-light">Product</h6>
                <ul>
                  <li><a routerLink="/about" class="text-light">About</a></li>
                  <li><a routerLink="/courses" class="text-light">Courses</a></li>
                  <!-- <li><a routerLink="/blogs">Blog Posts</a></li> -->
                  <li><a routerLink="/privacy-policy" class="text-light">Privacy Policy</a></li>
                  <li><a routerLink="/terms-and-conditions" class="text-light">Terms and Conditions</a></li>
                </ul>
              </div>
              <div class="col-md-6 footer-list-28 mt-5">
                <h6 class="footer-title-28 text-light">Support</h6>
                <ul>
                  <li><a routerLink="/contact" class="text-light">Contact Us</a></li>
                  <li><a routerLink="/faq" class="text-light">FAQ</a></li>
                  <!-- <li><a routerLink="#signup.html">Create account</a></li>
                        <li><a routerLink="#learn.html">Learning Center</a></li> -->
                  <!-- <li><a routerLink="#career.html">Our Team</a></li> -->
                </ul>
              </div>
              <!-- <div class="col-md-4 footer-list-28 mt-5">
                <h6 class="footer-title-28">Product</h6>
                <ul>
                  <li><a routerLink="/">WIW Learn</a></li>

                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>


      <div class="align-center py-lg-3 py-2 mt-5">
        <div class="container">
          <p class="copy-footer-28 text-center text-light"> &copy; 2020 <a href="https://thinkivatelearning.com" class="text-light" target="_blank">Thinkivate Learning Pvt Ltd</a>. All Rights Reserved &nbsp; | &nbsp; <span (click)="scrollToTop()" class="pointer">Back to top ↑</span>
        </div>
      </div>
    </div>
  </footer>

  <!-- move top -->
  <!-- <button id="movetop" title="Go to top">
    &#10548;
  </button> -->
  <!-- <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script> -->
  <!-- /move top -->
</section>