 <div class="container py-lg-3">
          <div class="row footer-top-28">
            <div class="col-md-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Contact information</h6>
              <ul>
                <li>
                  <p><strong>Address</strong> : 3rd Floor MSons Arcade, Cherrotty Road, Calicut, Kerala-673001</p>
                </li>
                <li>
                  <p><strong>Phone</strong> : <a href="tel:0495-2760366">0495-2760366</a></p>
                </li>
                <li>
                  <p><strong>Email</strong> : <a
                      href="mailto:info@thinkivatelearning.com">info@thinkivatelearning.com</a></p>
                </li>
              </ul>

              <div class="main-social-footer-28 mt-3">
                <ul class="social-icons">
                  <li class="facebook">
                    <a href="#link" title="Facebook">
                      <span class="fa fa-facebook" aria-hidden="true"></span>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="#link" title="Twitter">
                      <span class="fa fa-twitter" aria-hidden="true"></span>
                    </a>
                  </li>
                  <li class="dribbble">
                    <a href="#link" title="Dribbble">
                      <span class="fa fa-dribbble" aria-hidden="true"></span>
                    </a>
                  </li>
                  <li class="google">
                    <a href="#link" title="Google">
                      <span class="fa fa-google" aria-hidden="true"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4 footer-list-28 mt-5">
                  <h6 class="footer-title-28">Company</h6>
                  <ul>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/packages">Pricing</a></li>
                    <li><a routerLink="/blogs">Blog Posts</a></li>
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <li><a routerLink="/terms-and-conditions">Terms and Conditions</a></li>



                  </ul>
                </div>
                <div class="col-md-4 footer-list-28 mt-5">
                  <h6 class="footer-title-28">Support</h6>
                  <ul>
                    <li><a routerLink="/contact">Contact Us</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <!-- <li><a href="#signup.html">Create account</a></li>
                        <li><a href="#learn.html">Learning Center</a></li> -->
                    <!-- <li><a href="#career.html">Our Team</a></li> -->
                  </ul>
                </div>
                <div class="col-md-4 footer-list-28 mt-5">
                  <h6 class="footer-title-28">Product</h6>
                  <ul>
                    <li><a routerLink="/">WIW Learn</a></li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>