<div class="heading text-center mx-auto">
  <h3 class="head" >Demo Videos</h3>
  <p class="my-3 head"> Wiw Learn is a One-App-One-Solution for Students. It allows students to access learning
    solutions mapped to their curriculum. Learn from anywhere, anytime
    while simultaneously allowing parents to track and evaluate the student’s performance.</p>
</div>

<div class="row no-gutters">
  
  <div *ngFor="let video of videos; let videoIndex=index;" class="col-md-4">
    <div class="card" style="border:none">
      <div class="card-body">
        <a class="video-popup" href="{{video.link}}"> 
          <img src="{{video.thumb}}" class="img-responsive demo-image">
          <div class="middle">
          </div>
        </a>
        
      </div>
    </div>
  </div>

</div>
