<div class="card mb-3 "
    style="background:linear-gradient(135deg, #0062a6 0%,#af227a 100%); border:none; border-radius: 10px; min-height:220px;">
    <div class="card-body text-light">
        
        <div class="float-right">
            <span *ngIf="package.isOnlinePack" class="badge badge-success p-2">Online</span>
            <span *ngIf="!package.isOnlinePack" class="badge badge-warning p-2"> Offline</span>
        </div>

        <h5 class="text-light">
            <a routerLink="/{{courseSlug}}/{{gradeSlug}}/{{package.slug}}"
                class="stretched-link text-light">{{package.name}}</a>
        </h5>
        <p class="lead">includes: <span *ngFor="let subject of package.subjects;">
                {{subject.name}}</span></p>
        <p> <strong>{{package.price | currency:"INR": 'symbol' :'1.0-0'}}</strong></p>
    </div>
</div>