<div *ngIf="package ; else not_found">
    <section class="page-wrapper">
        <!-- <div class="container">
            <pre>{{package | json}}</pre>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-xl-8">

                    <!-- <nav aria-label="breadcrumb float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a routerLink="/courses">Courses</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a routerLink="/{{courseSlug}}">Kerala State</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a routerLink="/{{courseSlug}}/{{gradeSlug}}">Plus Two</a>
                            </li>
                        </ol>
                    </nav> -->

                    <h3 class="mt-3 gr-heading">{{package.name}}</h3>
                    <p class="latest-font">{{package.description}}</p>
                    <h4 class="my-3 gr-heading">Subjects Included:</h4>
                    <div class="row">

                        <div *ngFor="let subject of package.subjects;" class="col">
                            <div class="card mb-3 wiw-bg radius-15 border-none shadow">
                                <div class="card-body text-light text-center">
                                    <img src="{{subject.icon}}" alt="" height="50px" alt="{{subject.name}} icon">
                                    <h6 class="mt-2">{{ subject.name}}</h6>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="col-xl-4">
                    <div class="card shadow radius-15 border-none">
                        <div class="card-body">
                            <p class="lead latest-font"><strong>Pricing :
                                    {{package.price | currency:"INR": 'symbol' :'1.0-0'}}</strong></p>
                            
                            <p class="lead latest-font"><strong>{{package.validityDays}}</strong> days Subscription**
                            </p>
                            <p class="text-secondary latest-font">** If you subscribe this package today, you can access
                                the contents upto {{calulateDate(package.validityDays) | date:'dd MMMM yyyy' }}. </p>
                                <p class="latest-font">Package Mode: <span style="font-weight: bolder;">{{package && package.isOnlinePack ? 'Online' : 'Offline'}}</span></p>
                            <div class="card border-none radius-15 mt-3 ">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="latest-font" style="color: #0062a6;"> Download and Subscribe Now!
                                        </h5>
                                        <a class="stretched-link"
                                            href="https://play.google.com/store/apps/details?id=appn.wiwlearn"
                                            target="_blank" rel="noreferrer" title="get it on google play">
                                            <img style="max-height: 50px; object-fit: cover;"
                                                src="assets/icons/google-sm.png" alt="gogle play icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div class="container mt-5">
            <h4 class="gr-heading pt-3">Features</h4>
            <app-feature-cards></app-feature-cards>
        </div>

        <div class="container mt-5">
            <hr class="mt-5">
            <app-demo-videos></app-demo-videos>
        </div>
    </section>
    <wiw-footer></wiw-footer>
</div>

<ng-template #not_found>
    <app-not-found-page></app-not-found-page>
</ng-template>