<div *ngIf="package ; else not_found">
    <section class="page-wrapper">
        <!-- <div class="container">
            <pre>{{package | json}}</pre>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- <h5>Includes</h5> -->
                    <div class="row">
                        <div *ngFor="let subject of package.subjects;" class="col-md-6 my-4">
                            <div class="card mb-3">
                                <div class="card-body text-primary text-center">
                                    <img src="{{subject.icon}}" alt="" height="100px">
                                    <h5 class="">{{ subject.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <!-- <nav aria-label="breadcrumb text-small">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item">
                            <a  routerLink="/courses" >Courses</a>
                          </li>
                          <li class="breadcrumb-item">
                            <a  routerLink="/{{courseSlug}}" >Kerala State</a>
                          </li>
                          <li class="breadcrumb-item">
                            <a  routerLink="/{{courseSlug}}/{{gradeSlug}}" >Plus Two</a>
                          </li>
                          <li class="breadcrumb-item active" aria-current="page">{{package.name}}</li>
                        </ol>
                      </nav> -->

                    <h3>{{package.name}}</h3>
                    <p class="lead">{{package.price | currency:"INR": 'symbol' :'1.0-0'}}, {{package.validityDays}} Days.</p> 
                    <a href="https://play.google.com/store/apps/details?id=appn.wiwlearn&hl=en" target="_blank" class="btn btn-primary my-3" >Download Now</a>
                    <p>{{package.description}}</p>
                </div>
            </div>
            
               
   
                <!-- <h5 class="mt-4">Subjects:</h5> -->
                
                
           
   
   
             <!-- <a class="btn btn-light btn-sm" routerLink="/kerala-state/plus-two">Plus Two Grade</a>
              <pre>{{course | json}}</pre>   -->
           </div>
    </section>
    <wiw-footer></wiw-footer>
</div>

<ng-template #not_found>
    <app-not-found-page></app-not-found-page>
</ng-template>