<section class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col pb-5">
                <h3 class="text-center mb-3">Terms & Conditions</h3>

                <h6>
                    1. <strong><u>DEFINITIONS</u></strong>
                </h6>

                <p>
                    (a) <strong>Owner, Us, We, Company</strong>: The Owner, as the creator,
                    operator, and publisher of the Website and Applications, makes the Website,
                    and certain Services on it, available to users. “ <strong>Thinkivate Learning Pvt Ltd.</strong>”,
                    Company, Owner, Us, We,
                    Our, Ours and other first-person pronouns will refer to the Owner, as well
                    as all employees and affiliates of the Owner.
                </p>
                <p>
                    (b) <strong>You, the User, the Client</strong>: You, as the user of the
                    Website, will be referred to throughout these Terms of Service with
                    second-person pronouns such as You, Your, Yours, or as User or Client. For
                    the purpose of these Terms of Service, the term "User" or "you" shall mean
                    any natural or legal person who is accessing the Website. The term '"Your"
                    shall be construed accordingly.
                </p>
                <p>
                    (c) <strong>Parties</strong>: Collectively, the parties to these Terms of
                    Service (the Owner and You) will be referred to as Parties.
                </p>
                <p>
                    (d) <strong>Product/Products</strong>: Products produced or developed or
                    provided or delivered directly or indirectly by the company both software
                    and hardware.
                </p>
                <p>
                    (e) <strong>Service/Services</strong>: Service/Services which are provided
                    by the company, delivered directly or indirectly, online or offline.
                </p>
                <p>
                    (f) <strong>Applications/App:</strong> the mobile application “ <strong>WIW Learn </strong>(The Way
                    I Wish to Learn)” developed or provided
                    or delivered directly or indirectly by the company, online or offline.
                </p>
                <p>
                    (g) <strong>Intellectual Property (IP): </strong>Website, App and all
                    services provided by the Owner are the property of the Owner, including all
                    copyrights, trademarks, trade secrets, patents, creations, inventions,
                    literary and artistic works, designs, symbols, names, images, videos,
                    tagline, scripts, any type of writeups/contents, and any other materials
                    which are owned by the Owner.
                </p>
                <p>
                    <strong><u></u></strong>
                </p>
                <p>
                    <strong>2. <u>AGREEMENT &amp; ACCEPTANCE</u></strong>
                </p>
                <p>
                    (a) The use of our Website, Applications and Services, provided by the
                    Company <strong>“Thinkivate Learning Pvt Ltd.”</strong> (hereinafter
                    referred to as "<strong>Owner</strong>") are subject to the following Terms
                    &amp; Conditions (hereinafter the "<strong>Terms of Service</strong>"), all
                    parts and sub-parts of which are specifically incorporated by reference
                    here together with the Privacy Policy.
                </p>
                <p>
                    (b) By using the Company’s Website or App or Product, You warrant that You
                    have read and reviewed these Terms of Service and that You agree to be
                    bound by it. If You do not agree to be bound by these Terms of Service,
                    please leave the Website or App immediately. The Owner only agrees to
                    provide use of this Website and App Services to You if You agree to these
                    Terms of Service. Further, based on the Services obtained by a User,
                    additional terms and conditions in respect of the specific Services may
                    apply, which shall be deemed an agreement between the Users and the Owner.
                </p>
                <p>
                    (c) Your use/access/browsing of the Website or App or the Services or
                    products or registration (with or without payment/with or without
                    subscription) through any means shall imply Your acceptance of the Terms
                    and Your agreement to be legally bound by the same.
                </p>
                <p>
                    (d) Any access to our Website/Services/App/Products through registrations
                    or subscription is non-transferable.
                </p>
                <p align="center">
                    <strong><u></u></strong>
                </p>
                <p>
                    3. <strong><u>LICENSE TO USE OUR WEBSITE AND APP</u></strong>
                </p>
                <p>
                    (a) The Owner may provide You with certain information as a result of Your
                    use of the Website or App or Services. Such information may include, but is
                    not limited to, documentation, data, or information developed by the Owner,
                    and other materials which may assist in Your use of the Website or Services
                    ("Owner Materials").
                </p>
                <p>
                    (b) Subject to these Terms of Service, the Owner grants You a
                    non-exclusive, limited, non-transferable and revocable license to use the
                    Owner Materials solely in connection with Your use of the Website and App
                    Services. The Owner Materials may not be used for any other purpose and
                    this license terminates upon Your cessation of use of the Website or App
                    Services or at the termination of these Terms of Service.
                </p>
                <p>
                    (c) Any unauthorized use by you shall terminate the permission or license
                    granted to you by the Website or the App and You agree that you shall not
                    bypass any measures used by the Owner to prevent or restrict access to the
                    Website or the App.
                </p>
                <p>
                    (d) Our app is restricted to a single device usage only. No user is
                    permitted to login from multiple devices. In case of multiple device usage
                    is attempted that particular user will be automatically blocked access to
                    the App. Care should be taken to avoid such conditions.
                </p>
                <p>
                    <strong><u></u></strong>
                </p>
                <p>
                    4. <strong><u>INTELLECTUAL PROPERTY</u></strong>
                </p>
                <p>
                    (a) You agree that the Website, App and all Services provided by the Owner
                    are the property of the Owner, including all copyrights, trademarks, trade
                    secrets, patents and other intellectual property ("Owner IP").
                </p>
                <p>
                    (b) You agree that the Owner owns all right, title and interest in and to
                    the Owner IP and that You will not use the Owner IP for any unlawful or
                    infringing purpose.
                </p>
                <p>
                    (c) You agree not to reproduce or distribute the Owner IP in any way,
                    including electronically or via registration of any new trademarks, trade
                    names, service marks or Uniform Resource Locators (URLs), without express
                    written permission from the Owner.
                </p>
                <p>
                    <strong><u></u></strong>
                </p>
                <p>
                    5. <strong><u>USER OBLIGATIONS</u></strong>
                </p>
                <p>
                    (a) As a user of the Website or App or Services, You may be asked to
                    register with Us. When You do so, You will choose a user identifier, which
                    may be Your email address, mobile number or any other term, as well as a
                    password or OTP. You may also provide personal information, including, but
                    not limited to, Your name.
                </p>
                <p>
                    (b) You are responsible for ensuring the accuracy of this information. This
                    identifying information will enable You to use the Website or App or
                    Services.
                </p>
                <p>
                    (c) The billing information You provide us, including credit card, billing
                    address and other payment information, is subject to the same
                    confidentiality and accuracy requirements as the rest of Your identifying
                    information.
                </p>
                <p>
                    (d) Providing false or inaccurate information, or using the Website or App
                    or Services to further fraud or unlawful activity is grounds for immediate
                    termination of these Terms of Service. The Owner reserves the right to
                    refuse service, terminate accounts, or remove or edit content in its sole
                    discretion.
                </p>
                <p>
                    (e) No user is permitted to login from multiple devices. In case of
                    multiple device usage is attempted that particular user will be
                    automatically blocked access to the App. Care should be taken to avoid such
                    conditions.
                </p>
                <p>
                    (f) Do not try to modify, delete or tamper or make copies of any data from
                    the devices supplied along with the App. Such actions will terminate or
                    interrupt your access to the App. Company will not be responsible for such
                    actions, and company will not rectify or replace it.
                </p>
                <p>
                    (g) Do not try to modify, delete or tamper or make copies of any
                    information available in the Website or the App such actions will result in
                    termination or interruption of your access to the App.
                </p>
                <p>
                    (h) Any access to our Website/Services/App/Products through registrations
                    or subscription is non-transferable and non-refundable.
                </p>
                <p align="center">
                    <strong><u></u></strong>
                </p>
                <strong>
                    <u>
                        <br clear="all" />
                    </u>
                </strong>
                <p>
                    <strong><u></u></strong>
                </p>
                <p>
                    6. <strong><u>PAYMENT</u></strong>
                </p>
                <p>
                    (a) Should You register for any of the paid Services from this website, App
                    or purchase any product or service from this website or App, You agree to
                    pay Us the specific monetary amounts required for that product or those
                    Services. These monetary amounts will be described to You during Your
                    subscription process. The final amount required for payment will be shown
                    to You immediately prior to purchase.
                </p>
                <p>
                    (b) We reserve the right to refuse service or refuse to sell the products
                    on the Website or App at our sole discretion to anyone for any reason at
                    any time.
                </p>
                <p align="center">
                    <strong><u></u></strong>
                </p>
                <p>
                    7. <strong><u>ACCEPTABLE USE</u></strong>
                </p>
                <p>
                    (a) You agree not to use the Website, App or Services for any unlawful
                    purpose or any purpose prohibited under this clause. You agree not to use
                    the Website, App or Services in any way that could damage the Website, App,
                    Services or general business of the Owner.
                </p>
                <p>
                    b) You further agree not to use the Website, App or Services:
                </p>
                <p>
                    (i) To harass, abuse, or threaten others or otherwise violate any person's
                    legal rights;
                </p>
                <p>
                    (ii) To violate any intellectual property rights of the Owner or any third
                    party;
                </p>
                <p>
                    (iii) To upload or otherwise disseminate any computer viruses or other
                    software that may damage the property of another;
                </p>
                <p>
                    (iv) To perpetrate any fraud;
                </p>
                <p>
                    (v) To engage in or create any unlawful gambling, sweepstakes, or pyramid
                    scheme;
                </p>
                <p>
                    (vi) To publish or distribute any obscene or defamatory material;
                </p>
                <p>
                    (vii) To publish or distribute any material that incites violence, hate or
                    discrimination towards any group;
                </p>
                <p>
                    (viii) To unlawfully gather information about others.
                </p>
                <p>
                    (c) You are prohibited from using the site or App or its content:
                </p>
                <p>
                    (i) for any unlawful purpose;
                </p>
                <p>
                    (ii) to solicit others to perform or participate in any unlawful acts;
                </p>
                <p>
                    (iii) to infringe on any third party's intellectual property or proprietary
                    rights, or rights of publicity or privacy, whether knowingly or
                    unknowingly;
                </p>
                <p>
                    (iv) to violate any local, federal or international law, statute, ordinance
                    or regulation;
                </p>
                <p>
                    (v) to harass, abuse, insult, harm, defame, slander, disparage, intimidate,
                    or discriminate based on gender, sexual orientation, religion, ethnicity,
                    race, age, national origin, or disability;
                </p>
                <p>
                    (vi) to submit false or misleading information or any content which is
                    defamatory, libellous, threatening, unlawful, harassing, indecent, abusive,
                    obscene, or lewd and lascivious or pornographic, or exploits minors in any
                    way or assists in human trafficking or content that would violate rights of
                    publicity and/or privacy or that would violate any law;
                </p>
                <p>
                    (vii) to upload or transmit viruses or any other type of malicious code
                    that will or may be used in any way that will affect the functionality or
                    operation of the Service or of any related website, other websites, or the
                    Internet;
                </p>
                <p>
                    (viii) to collect or track the personal information of others; (i) to
                    damage, disable, overburden, or impair the Website or any other party's use
                    of the Website;
                </p>
                <p>
                    (ix) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any
                    obscene or immoral purpose; or
                </p>
                <p>
                    (x) to interfere with or circumvent the security features of the Service or
                    any related website, other websites, or the Internet;
                </p>
                <p>
                    (xi) to personally threaten or has the effect of personally threatening
                    other Users. We reserve the right to terminate your use of the Service or
                    any related website or App for violating any of the prohibited uses. The
                    Company has the full authority to review all content posted by Users on the
                    Website or App. You acknowledge that the Website or App is not responsible
                    or liable and does not control the content of any information that may be
                    posted to the Website or App by You or other User of the Website or App and
                    you are solely responsible for the same. You agree that You shall not
                    upload, post, or transmit any content that you do not have a right to make
                    available (such as, the intellectual property of another party).
                </p>
                <p>
                    (xii) to modify or delete any contents of the supplied devices.
                </p>
                <p>
                    (d) You may not use our products for any illegal or unauthorized purpose
                    nor may you, in the use of the Service, violate any laws in your
                    jurisdiction (including but not limited to copyright laws).
                </p>
                <p>
                    (e) You agree to comply with all applicable laws, statutes and regulations
                    concerning your use of the Website or App and further agree that you will
                    not transmit any information, data, text, files, links, software, chats,
                    communication or other materials that is abusive, invasive of another's
                    privacy, harassing, defamatory, vulgar, obscene, unlawful, false,
                    misleading, harmful, threatening, hateful or racially or otherwise
                    objectionable, including without limitation material of any kind or nature
                    that encourages conduct that could constitute a criminal offense, give rise
                    to civil liability or otherwise violate any applicable local, state,
                    provincial, national, or international law or regulation, or encourage the
                    use of controlled substances.
                </p>
                <p>
                    (f) We may, but have no obligation to, monitor, edit or remove content that
                    we determine in our sole discretion are unlawful, offensive, threatening,
                    libelous, defamatory, pornographic, obscene or otherwise objectionable or
                    violates any party's intellectual property or these Terms of Service.
                </p>
                <p align="center">
                    <strong><u></u></strong>
                </p>
                <p>
                    8. <strong><u>COMMUNICATION</u></strong>
                </p>
                <p>
                    (a) You understand that each time your use of the Website or App in any
                    manner, you agree to these Terms. By agreeing to these Terms, you
                    acknowledge that you are interested in availing and purchasing the Services
                    that you have selected and consent to receive communications via phone or
                    electronic records from the Website or App including e-mail messages
                    telling you about products and services offered by the Website or App (or
                    its affiliates and partners) and understanding your requirements.
                </p>
                <p>
                    (b) Communication can also be by posting any notices on the Website or App.
                    You agree that the communications sent to You by the Website or App shall
                    not be construed as spam or bulk under any law prevailing in any country
                    where such communication is received.
                </p>
                <p>
                    <strong>9. <u>PRIVACY INFORMATION</u></strong>
                </p>
                <p>
                    (a) Through Your Use of the Website or App or Services, You may provide Us
                    with certain information. By using the Website or App or the Services, You
                    authorize the Owner to use Your information in India and any other country
                    where We may operate.
                </p>
                <p>
                    (b) <strong>Information We May Collect or Receive</strong>: When You
                    register for an account, You provide Us with a valid mobile number, email
                    address and may provide Us with additional information, such as Your name
                    or billing information. Depending on how You use Our Website or App or
                    Services,
                </p>
                <p>
                    (i) We may also receive information from external applications You use to
                    access Our Website, or App or Services.
                </p>
                <p>
                    (ii) We may receive information through various web technologies, such as
                    cookies, log files, clear gifs, web beacons or others.
                </p>
                <p>
                    (c) <strong>How We Use Information</strong>: We use the information
                    gathered from You to ensure Your continued good experience on Our website
                    or App, including through email communication. We may also track certain of
                    the passive information received to improve Our marketing and analytics,
                    and for this, We may work with third-party providers.
                </p>
                <p>
                    (d) <strong>How You Can Protect Your Information</strong>: If You would
                    like to disable Our access to any passive information We receive from the
                    use of various technologies, You may choose to disable cookies in Your web
                    browser. Please be aware that the Owner will still receive information
                    about You that You have provided, such as Your email address or mobile
                    number.
                </p>
                <p>
                    (e) If You wish to terminate Your account, on contacting the support team,
                    your account can be blocked by the owner, minimum information about You
                    will be stored for record purpose only.
                </p>
                <p align="center">
                    <strong><u></u></strong>
                </p>
                <p>
                    <strong>10. <u>SALE OF GOODS/SERVICES</u></strong>
                </p>
                <p>
                    (a) The Owner may sell goods on the Website or the App. The Owner
                    undertakes to be as accurate as possible with all information regarding the
                    goods and services, including product descriptions and images. However, the
                    Owner does not guarantee the accuracy or reliability of any product
                    information and You acknowledge and agree that You purchase such products
                    or goods at Your own risk.
                </p>
                <p>
                    (b) In case, any purchased goods needs replacement, due to fair wear and
                    tear, replacement will be met at an extra cost.
                </p>
                <p>
                    <strong>11. <u>SHIPPING/DELIVERY/RETURN POLICY</u></strong>
                </p>
                <p>
                    (a) You agree to ensure payment for any items You may purchase from Us and
                    You acknowledge and affirm that prices are subject to change. When
                    purchasing a physical good, You agree to provide Us with a valid email and
                    shipping address, as well as valid billing information.
                </p>
                <p>
                    (b) We reserve the right to reject or cancel an order for any reason,
                    including errors or omissions in the information You provide to us. If We
                    do so after payment has been processed, We will issue a refund to You in
                    the amount of the purchase price. We will make the reimbursement using the
                    same means of payment as you used for the initial transaction, unless you
                    have expressly agreed otherwise; in any event, you will not incur any fees
                    as a result of the reimbursement.
                </p>
                <p>
                    (c) Items once purchased or subscribed is Non-Refundable under any
                    circumstances other than the reason as mentioned in 11(b).
                </p>
                <p>
                    (d) We also may request additional information from You prior to confirming
                    a sale and We reserve the right to place any additional restrictions on the
                    sale of any of Our products.
                </p>
                <p>
                    (e) We may preauthorize Your credit or debit card at the time You place the
                    order or We may simply charge Your card upon shipment. You agree to monitor
                    Your method of payment.
                </p>
                <p>
                    (f) Shipment costs and dates are subject to change from the costs and dates
                    You are quoted due to unforeseen circumstances.
                </p>
                <p>
                    (g) For any questions, concerns, or disputes, You agree to contact Us in a
                    timely manner at the following: <a href="mailto:support@wiwlearn.com">support@wiwlearn.com</a>.
                </p>
                <p>
                    <strong>12. <u>SECURITY RESPONSIBILITIES</u></strong>
                </p>
                <p>
                    (a) Owner may only allow authorized individuals to use its App under these
                    Terms of Service.
                </p>
                <p>
                    (b) You will be responsible for all activities occurring under your
                    account. You must:
                </p>
                <p>
                    (i) maintain the security of you account credentials;
                </p>
                <p>
                    (ii) keep your devices and App account safe and secure;
                </p>
                <p>
                    (iii) prevent unauthorized use of or access to our Website or App using
                    your account credentials;
                </p>
                <p>
                    (iv) immediately notify us if You discover or suspect any security breaches
                    related to our Website or App or Services or if You discover or suspect any
                    such unauthorized access or use.
                </p>
                <p>
                    (v) Owner will implement and follow generally recognized industry standards
                    and best practices for data and information security to protect Owner’s
                    data, network, and systems from unauthorized access, use, or copying.
                </p>
                <p align="center">
                    <strong><u></u></strong>
                </p>
                <p>
                    <strong>13. <u>REVERSE ENGINEERING &amp; SECURITY</u></strong>
                </p>
                <p>
                    You agree not to undertake any of the following actions:
                </p>
                <p>
                    (a) Reverse engineer, or attempt to reverse engineer or disassemble any
                    code or software from or on the Website or App Services;
                </p>
                <p>
                    (b) Violate the security of the Website or App or Services through any
                    unauthorized access, circumvention of encryption or other security tools,
                    data mining or interference to any host, user or network.
                </p>
                <p>
                    <strong>14. <u>DATA LOSS</u></strong>
                </p>
                <p>
                    The Owner does not accept responsibility for the security of Your account
                    or content. You agree that Your use of the Website or App or Services is at
                    Your own risk.
                </p>
                <p>
                    <strong>15. <u>INDEMNIFICATION</u></strong>
                </p>
                <p>
                    You agree to defend and indemnify the Owner and any of its affiliates (if
                    applicable) and hold Us harmless against any and all legal claims and
                    demands, including reasonable attorney's fees, which may arise from or
                    relate to Your use or misuse of the Website or App or Services, Your breach
                    of these Terms of Service, or Your conduct or actions. You agree that the
                    Owner shall be able to select its own legal counsel and may participate in
                    its own defense, if the Owner wishes.
                </p>
                <p>
                    <strong><u></u></strong>
                </p>
                <p>
                    <strong>16. <u>SPAM POLICY</u></strong>
                </p>
                <p>
                    You are strictly prohibited from using the Website or App or any of the
                    Owner's Services for illegal spam activities, including gathering email
                    addresses and personal information from others or sending any mass
                    commercial emails or any other type of messages.
                </p>
                <p>
                    <strong>17. <u>THIRD-PARTY LINKS &amp; CONTENT</u></strong>
                </p>
                <p>
                    <strong><u></u></strong>
                </p>
                <p>
                    The Owner may occasionally post links to third party websites or other
                    services. You agree that the Owner is not responsible or liable for any
                    loss or damage caused as a result of Your use of any third party services
                    linked to from Our Website.
                </p>
                <p>
                    <strong>18. <u>MODIFICATION &amp; VARIATION</u></strong>
                </p>
                <p>
                    (a) The Owner may, from time to time and at any time without notice to You,
                    modify these Terms of Service. You agree that the Owner has the right to
                    modify these Terms of Service or revise anything contained herein.
                </p>
                <p>
                    (b) You further agree that all modifications to these Terms of Service are
                    in full force and effect immediately upon posting on the Website and that
                    modifications or variations will replace any prior version of these Terms
                    of Service, unless prior versions are specifically referred to or
                    incorporated into the latest modification or variation of these Terms of
                    Service.
                </p>
                <p>
                    (i) To the extent any part or sub-part of these Terms of Service is held
                    ineffective or invalid by any court of law, You agree that the prior,
                    effective version of these Terms of Service shall be considered enforceable
                    and valid to the fullest extent.
                </p>
                <p>
                    (ii) You agree to routinely monitor these Terms of Service and refer to the
                    Effective Date posted at the top of these Terms of Service to note
                    modifications or variations. You further agree to clear Your cache when
                    doing so to avoid accessing a prior version of these Terms of Service.
                </p>
                <p>
                    (iii) You agree that Your continued use of the Website or App after any
                    modifications to these Terms of Service is a manifestation of Your
                    continued assent to these Terms of Service.
                </p>
                <p>
                    (iv) In the event that You fail to monitor any modifications to or
                    variations of these Terms of Service, You agree that such failure shall be
                    considered an affirmative waiver of Your right to review the modified
                    Agreement.
                </p>
                <p>
                    <strong><u></u></strong>
                </p>
                <p>
                    <strong>19. <u>ENTIRE AGREEMENT</u></strong>
                </p>
                <p>
                    (a) This Agreement constitutes the entire understanding between the Parties
                    with respect to any and all use of this Website or App.
                </p>
                <p>
                    (b) This Agreement supersedes and replaces all prior or contemporaneous
                    agreements or understandings, written or oral, regarding the use of this
                    Website or App.
                </p>
                <p>
                    <strong><u></u></strong>
                </p>
                <p>
                    <strong>20. <u>SERVICE INTERRUPTIONS</u></strong>
                </p>
                <p>
                    (a) The Owner may need to interrupt Your access to the Website or App to
                    perform maintenance or emergency services on a scheduled or unscheduled
                    basis.
                </p>
                <p>
                    (b) You agree that Your access to the Website or App may be affected by
                    unanticipated or unscheduled downtime, for any reason, but that the Owner
                    shall have no liability for any damage or loss caused as a result of such
                    downtime.
                </p>
                <p align="center">
                    <strong></strong>
                </p>
                <p>
                    <strong>21. <u>TERM, TERMINATION &amp; SUSPENSION</u></strong>
                </p>
                <p>
                    (a) The Owner may terminate these Terms of Service with You at any time for
                    any reason, with or without cause.
                </p>
                <p>
                    (b) The Owner specifically reserves the right to terminate these Terms of
                    Service if You violate any of the terms outlined herein, including, but not
                    limited to, violating the intellectual property rights of the Owner or a
                    third party, failing to comply with applicable laws or other legal
                    obligations, and/or publishing or distributing illegal material.
                </p>
                <p>
                    (c) If You have registered for an account with Us, You may also terminate
                    these Terms of Service at any time by contacting Us and requesting
                    termination. Please keep in mind that any outstanding fees will still be
                    due even after termination of Your account. At the termination of these
                    Terms of Service, any provisions that would be expected to survive
                    termination by their nature shall remain in full force and effect.
                </p>
                <p>
                    <strong>22. <u>NO WARRANTIES</u></strong>
                </p>
                <p>
                    (a) You agree that Your use of the Website or App or Services is at Your
                    sole and exclusive risk and that any goods provided by Us are on an "As Is"
                    basis.
                </p>
                <p>
                    (b) The Owner hereby expressly disclaims any and all express or implied
                    warranties of any kind, including, but not limited to the implied warranty
                    of fitness for a particular purpose and the implied warranty of
                    merchantability.
                </p>
                <p>
                    (c) The Owner makes no warranties that the Website or App or Services will
                    meet Your needs or that the Website or App or Services will be
                    uninterrupted, error-free, or secure. The Owner also makes no warranties as
                    to the reliability or accuracy of any goods sold on the Website or obtained
                    through the Services.
                </p>
                <p>
                    (d) You agree that any damage that may occur to You, through Your computer
                    system, or as a result of loss of Your data from Your use of the Website or
                    App or Services is Your sole responsibility and that the Owner is not
                    liable for any such damage or loss.
                </p>
                <p>
                    (e) All information, software, products, services and related graphics are
                    provided on this site is "as is" and "as available" basis with without
                    warranty of any kind, either expressed or implied.
                </p>
                <p>
                    (f) The Website disclaims all warranties, expressed or implied including,
                    without limitation, all implied warranties of merchantability, fitness for
                    a particular purpose, title and non-infringement or arising from a course
                    of dealing, usage, or trade practice.
                </p>
                <p>
                    (g) The Website makes no warranty that the use of the Website or App will
                    be uninterrupted, timely, secure, without defect or error free. You
                    expressly agree that use of the site or App is at your own risk.
                </p>
                <p>
                    (h) Your use of any information or materials on this site or App or
                    otherwise obtained through use of this Website is entirely at your own
                    risk, for which we shall not be liable. It shall be your own responsibility
                    to ensure that any products, services or information available through this
                    website or App meet your specific requirements.
                </p>
                <p>
                    (j) The Website assumes no responsibility for the accuracy, currency,
                    completeness or usefulness of information, views, opinions or advice in any
                    goods contained on the Website.
                </p>
                <p>
                    (k) Any information of third parties or advertisers is made available
                    without doing any changes and so the Website cannot guarantee accuracy and
                    is not liable to any inconsistencies arising thereof. All postings,
                    messages, advertisements, photos, sounds, images, text, files, video or
                    other materials posted on, transmitted through, or linked from the Website,
                    are solely the responsibility of the person from whom such Content
                    originated and the Website does not control, and is not responsible for
                    Content available on the Website.
                </p>
                <p>
                    (l) There may be instances when incorrect information is published
                    inadvertently on our Website or App in the Service such as typographical
                    errors, inaccuracies or omissions that may relate to product descriptions,
                    pricing, promotions, offers, product shipping charges, transit times and
                    availability. Any errors, inaccuracies or omissions, may be corrected at
                    our discretion at any time and we may change or update information or
                    cancel orders if any information in the Service or on any related website
                    is inaccurate at any time without prior notice (including after you have
                    submitted your order).
                </p>
                <p>
                    (m) We undertake no obligation to update, amend or clarify information in
                    the Service or on any related website, including without limitation,
                    pricing information, except as required by law. No specified update or
                    refresh date applied in the Service or on any related website, should be
                    taken to indicate that all information in the Service or on any related
                    website has been modified or updated.
                </p>
                <p>
                    (n) The Website or App shall not be responsible for any interaction between
                    you and the other users of the Website or App. Under no circumstances will
                    the Website or App be liable for any goods, services, resources or content
                    available through such third party dealings or communications, or for any
                    harm related thereto. The Website or App is under no obligation to become
                    involved in any disputes between you and other users of the Website or App
                    or between you and any other third parties. You agree to release the
                    Website or App from any and all claims, demands, and damages arising out of
                    or in connection with such dispute.
                </p>
                <p>
                    (o) You agree and understand that while the Website or App has made
                    reasonable efforts to safeguard the Website or App, it cannot and does not
                    ensure or make any representations that the Website or App or any of the
                    information provided by You cannot be hacked by any unauthorised third
                    parties. You specifically agree that the Website or App shall not be
                    responsible for unauthorized access to or alteration of Your transmissions
                    or data, any material or data sent or received or not sent or received, or
                    any transactions entered into through the Website or the App.
                </p>
                <p>
                    (p) You hereby agree and confirm that the Website or App shall not be held
                    liable or responsible in any manner whatsoever for such hacking or any loss
                    or damages suffered by you due to unauthorized access of the Website or App
                    by third parties or for any such use of the information provided by You or
                    any spam messages or information that You may receive from any such
                    unauthorised third party (including those which are although sent
                    representing the name of the Website or App but have not been authorized by
                    the Website or App) which is in violation or contravention of this Terms of
                    Service or the Privacy Policy.
                </p>
                <p>
                    (q) You specifically agree that the Website or App is not responsible or
                    liable for any threatening, defamatory, obscene, offensive or illegal
                    content or conduct of any other party or any infringement of another's
                    rights, including intellectual property rights. You specifically agree that
                    the Website is not responsible for any content sent using and/or included
                    in the Website by any third party.
                </p>
                <p>
                    (r) The Website or App has no liability and will make no refund in the
                    event of any delay, cancellation, strike, force majeure or other causes
                    beyond their direct control, and they have no responsibility for any
                    additional expense omissions delays or acts of any government or authority.
                </p>
                <p>
                    (s) You will be solely responsible for any damages to your computer system
                    or loss of data that results from the download of any information and/or
                    material. Some jurisdictions do not allow the exclusion of certain
                    warranties, so some of the above exclusions may not apply to you.
                </p>
                <p>
                    (t) In no event shall the Website or App be liable for any direct,
                    indirect, punitive, incidental, special, consequential damages or any
                    damages whatsoever including, without limitation, damages for loss of use,
                    data or profits, arising out of or in any way connected with the use or
                    performance of the site or App, with the delay or inability to use the site
                    or App or related services, the provision of or failure to provide
                    Services, or to deliver the products or for any information, software,
                    products, services and related graphics obtained through the site, or any
                    interaction between you and other participants of the Website or App or
                    otherwise arising out of the use of the Website or App, damages resulting
                    from use of or reliance on the information present, whether based on
                    contract, tort, negligence, strict liability or otherwise, even if the
                    Website or App or any of its affiliates/suppliers has been advised of the
                    possibility of damages. If, despite the limitation above, the Company is
                    found liable for any loss or damage which arises out of or in any way
                    connected with the use of the Website or App and/ or provision of Services,
                    then the liability of the Company will in no event exceed, 50% (Fifty
                    percent) of the amount you paid to the Company in connection with such
                    transaction(s) on this Website or App.
                </p>
                <p>
                    (u) You accept all responsibility for, and hereby agree to indemnify and
                    hold harmless the company from and against, any actions taken by you or by
                    any person authorized to use your account, including without limitation,
                    disclosure of passwords to third parties. By using the Website, you agree
                    to defend, indemnify and hold harmless the indemnified parties from any and
                    all liability regarding your use of the site or participation in any site's
                    activities. If you are dissatisfied with the Website, or the Services or
                    any portion thereof, or do not agree with these terms, your only recourse
                    and exclusive remedy shall be to stop using the site.
                </p>
                <p align="center">
                    <strong><u></u></strong>
                </p>
                <p>
                    <strong>23. <u>LIMITATION ON LIABILITY</u></strong>
                </p>
                <p>
                    (a) The Owner is not liable for any damages that may occur to You as a
                    result of Your use of the Website or App or Services.
                </p>
                <p>
                    (b) The Owner is not liable for any lost profits or consequential, special,
                    punitive, indirect, or incidental damages relating to, arising out of, or
                    in any way in connection with, us, or our business services even if we have
                    been advised of the possibility of such damages.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>13. <u>GENERAL PROVISIONS</u></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    (a) <strong>Language</strong>: All communications made or notices given
                    pursuant to these Terms of Service shall be in the English language.
                </p>
                <p>
                    (b) <strong>Jurisdiction, Venue &amp; Governing Law</strong>: Through Your
                    use of the Website or App or Services, You agree that the laws of the India
                    shall govern any matter or dispute relating to or arising out of these
                    Terms of Service, as well as any dispute of any kind that may arise between
                    You and the Owner, with the exception of its conflict of law provisions. In
                    case any litigation specifically permitted under these Terms of Service is
                    initiated, the Parties agree to submit to the exclusive jurisdiction of the
                    courts at <strong>Kerala</strong>, India. The Parties agree that this
                    choice of law, venue, and jurisdiction provision is not permissive, but
                    rather mandatory in nature. You hereby waive the right to any objection of
                    venue, including assertion of the doctrine of forum non conveniens or
                    similar doctrine.
                </p>
                <p>
                    (c) <strong>Severability</strong>: If any part or sub-part of these Terms
                    of Service is held invalid or unenforceable by a court of law or competent
                    arbitrator, the remaining parts and sub-parts will be enforced to the
                    maximum extent possible. In such condition, the remainder of these Terms of
                    Service shall continue in full force.
                </p>
                <p>
                    (d) <strong>No Waiver</strong>: In the event that We fail to enforce any
                    provision of these Terms of Service, this shall not constitute a waiver of
                    any future enforcement of that provision or of any other provision. Waiver
                    of any part or sub-part of these Terms of Service will not constitute a
                    waiver of any other part or sub-part.
                </p>
                <p>
                    (e) <strong>Headings For Convenience Only</strong>: Headings of parts and
                    sub-parts under these Terms of Service are for convenience and
                    organization, only. Headings shall not affect the meaning of any provisions
                    of these Terms of Service.
                </p>
                <p>
                    (f) <strong>No Agency, Partnership Or Joint Venture</strong>: No agency,
                    partnership, or joint venture has been created between the Parties as a
                    result of these Terms of Service. No Party has any authority to bind the
                    other to third parties.
                </p>
                <p>
                    (g) <strong>Electronic Communications Permitted</strong>: Electronic
                    communications are permitted to both Parties under these Terms of Service,
                    including e-mail. For any questions or concerns, please email Us at the
                    following address: <strong>support@wiwlearn.com</strong>.
                </p>

            </div>
        </div>
    </div>
</section>

<wiw-footer></wiw-footer>