<section class="wiw-index-block3" >
  <div class="section-info py-5">
    <div class="container py-md-3">
      <div class="row align-items-center">

        <div class="col cwp17-text text-center">
          <h2 class="gr-heading">Join Our Family Today!</h2>
          
          <a href="https://play.google.com/store/apps/details?id=appn.wiwlearn" target="_blank" rel="noreferrer" title="get it on google play">
            <img style="max-height: 50px; object-fit: cover;" src="assets/icons/google-sm.png" alt="google playstore icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>