<section class="wiw-index-block3" style="background:linear-gradient(135deg, #0061a68c 0%,#af227980 100%);">
  <img class="bottom-img" src="assets/white_curve-invert.png" alt="" style="width: 100%;">
  <div class="section-info py-5">
    <div class="container py-md-3">
      <div class="row align-items-center">

        <div class="col-md-6 cwp17-image">
          <img src="assets/images/21.jpg" class="img-fluid img-responsive" alt="" />
        </div>
        <div class="col-md-6 cwp17-text ">
          <h2 class="text-light">Download Our App to Explore More! </h2>
          <p class="text-light">Subscribe for full access. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus labore
            placeat ad quaerat adipisci vitae, molestias sapiente dignissimos mollitia? Et quae maxime odit.
            Repellendus provident quibusdam in sint. Quidem, unde! </p>
          <a href="https://play.google.com/store/apps/details?id=appn.wiwlearn" target="_blank">
            <img style="max-height: 50px; object-fit: cover;" src="assets/images/google-sm.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>