<section class="wiw-index-block3">
    <div class="section-info py-5">
      <div class="container py-md-3">
        <div class="row cwp17-two align-items-center">
  
  
          <div class="col-md-6 cwp17-image">
            <img src="assets/images/21.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-md-6 cwp17-text">
            <h2>Download the app for FREE now</h2>
            <p>Subscribe for full access. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus labore
              placeat ad quaerat adipisci vitae, molestias sapiente dignissimos mollitia? Et quae maxime odit.
              Repellendus provident quibusdam in sint. Quidem, unde! </p>
            <a href="#signup.html">Learn more &raquo;</a>
            <a href="https://play.google.com" target="_blank">
              <img height="200px" src="assets/images/google.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>