 <!-- PRICE AND PLANS GOES HERE -->
             
 <div class="wiw-index-block4">
    <div class="features-bg py-5">
      <!-- features15 block -->
      <div class="container py-md-3">
        <div class="heading text-center mx-auto">
          <h3 class="head">Our Plans and Prices</h3>
          <p class="my-3 head">We provide the best and affordable price and plans.</p>
        </div>
        <br><br>

        <div style="background-color: rgba(211, 219, 240, 0.158); padding: 20px 20px 30px 20px; border-radius: 8px;">

          <!-- Tab -->
          <ul class="nav nav-pills justify-content-center" role="tablist">

            <li class="nav-item">
              <a class="nav-link active" style="border-radius: 20px;" data-toggle="pill" href="#menu1">Online
                Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " style="border-radius: 20px;" data-toggle="pill" href="#menu2">Offline Packages</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">

            <div id="menu1" class="container tab-pane active"><br>
              <div class="row">

                <div class="col-md-6 features15-col-text">
                  <a href="#url" class="d-flex flex-wrap feature-unit align-items-center">
                    <div class="col-sm-3">
                      <div class="features15-info">
                        <!-- <span class="fa fa-pencil-square-o" aria-hidden="true"></span> -->
                        <img src="assets/images/ed3.png">
                      </div>
                    </div>
                    <div class="col-sm-9 mt-sm-0 mt-4 ">
                      <div class="features15-para">
                        <h4>Plus two Maths Package</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        <div> <strong>Includes</strong>
                          <ul>
                            <li>Question Papers</li>
                            <li>Practice Sessions</li>
                            <li>Perfomance</li>
                          </ul>
                        </div>

                        <h4><small style="text-decoration: line-through; color: brown;">₹ 200</small> &nbsp;
                            ₹ 100</h4>
                        <button class="btn btn-outline-primary mt-5"> Subscribe Now</button>

                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-6 features15-col-text">
                  <a href="#url" class="d-flex flex-wrap feature-unit align-items-center">
                    <div class="col-sm-3">
                      <div class="features15-info">
                        <!-- <span class="fa fa-pencil-square-o" aria-hidden="true"></span> -->
                        <img src="assets/images/ed3.png">
                      </div>
                    </div>
                    <div class="col-sm-9 mt-sm-0 mt-4 ">
                      <div class="features15-para">
                        <h4>Plus two Maths Package</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        <div> <strong>Includes</strong>
                          <ul>
                            <li>Question Papers</li>
                            <li>Practice Sessions</li>
                            <li>Perfomance</li>
                          </ul>
                        </div>

                        <h4><small style=" text-decoration: line-through; color: brown;">₹200</small> &nbsp;
                            ₹100</h4>
                        <button class="btn btn-outline-primary mt-5"> Subscribe Now</button>

                      </div>
                    </div>
                  </a>
                </div>


              </div>
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
              <div class="row">

                <div class="col-md-6 features15-col-text">
                  <a href="#url" class="d-flex flex-wrap feature-unit align-items-center">
                    <div class="col-sm-3">
                      <div class="features15-info">
                        <!-- <span class="fa fa-pencil-square-o" aria-hidden="true"></span> -->
                        <img src="assets/images/ed3.png">
                      </div>
                    </div>
                    <div class="col-sm-9 mt-sm-0 mt-4 ">
                      <div class="features15-para">
                        <h4>Plus two Maths Package</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        <div> <strong>Includes</strong>
                          <ul>
                            <li>Question Papers</li>
                            <li>Practice Sessions</li>
                            <li>Perfomance</li>
                          </ul>
                        </div>

                        <h4><small style=" text-decoration: line-through; color: brown;">₹200</small> &nbsp;
                            ₹100</h4>
                        <button class="btn btn-outline-primary mt-5"> Subscribe Now</button>

                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-6 features15-col-text">
                  <a href="#url" class="d-flex flex-wrap feature-unit align-items-center">
                    <div class="col-sm-3">
                      <div class="features15-info">
                        <!-- <span class="fa fa-pencil-square-o" aria-hidden="true"></span> -->
                        <img src="assets/images/ed3.png">
                      </div>
                    </div>
                    <div class="col-sm-9 mt-sm-0 mt-4 ">
                      <div class="features15-para">
                        <h4>Plus two Maths Package</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        <div> <strong>Includes</strong>
                          <ul>
                            <li>Question Papers</li>
                            <li>Practice Sessions</li>
                            <li>Perfomance</li>
                          </ul>
                        </div>

                        <h4><small style="text-decoration: line-through; color: brown;">₹200</small> &nbsp;
                            ₹100</h4>
                        <button class="btn btn-outline-primary mt-5"> Subscribe Now</button>

                      </div>
                    </div>
                  </a>
                </div>


              </div>
            </div>

          </div>


        </div>





        <div>
          <!-- features15 block -->
        </div>
      </div>
    </div>
  </div>




   <!-- PRICE AND PLANS ENDS HERE -->