.tab-link {
    border-radius: 20px;
    /* color: white; */
}

.pack-container {
    background-color: rgba(0, 0, 0, 0.24);
    /* background-color: rgb(175 34 122);  */
    padding: 20px 20px 30px 20px; 
    border-radius: 8px;
}