<section class="wiw-about5 page-wrapper">

  <div class="container py-lg-3">
    <div class="heading text-center mx-auto">
      <h3 class="head gr-heading">Our Story.</h3>
    </div>

    <div class="history-info mt-5">
      <div class="position-relative">
        <img src="assets/images/video.jpg" class="img-fluid" alt="video-popup" />

        <a href="https://www.youtube.com/watch?v=fqVUBzQIuko"
          class="video-popup popup-with-zoom-anim play-view text-center position-absolute">
          <span class="video-play-icon">
            <span class="fa fa-play"></span>
          </span>
        </a>

      </div>

    </div>
  </div>

</section>

<wiw-footer></wiw-footer>