<div *ngIf="course ; else not_found">
    <section class="page-wrapper">
        <div class="container">
         <div class="row">

             <div *ngFor="let g of course.grades;" class="col-md-4 mb-4">
                 <!-- <pre>{{co | json}}</pre> -->
                <div class="card bg-danger text-white">
                    <div class="card-body">
                        <a  routerLink="/{{courseSlug}}/{{g.slug}}">{{g.name}}</a> 
                    </div>
                  </div>
             </div>
             
         </div>


          <!-- <a class="btn btn-light btn-sm" routerLink="/kerala-state/plus-two">Plus Two Grade</a>
           <pre>{{course | json}}</pre>   -->
        </div>

    </section>
    <wiw-footer></wiw-footer>
</div>

<ng-template #not_found>
    <app-not-found-page></app-not-found-page>
</ng-template>