<div *ngIf="course ; else not_found">
    <section class="page-wrapper">
        <div class="container">
         <div class="row">

             <div *ngFor="let g of course.grades;" class="col-md-4 mb-4">
                 <pre>{{g | json}}</pre>

                 <div class="card" >
                    <img class="card-img-top" src="assets/images/video.jpg" style="opacity: 0.3;" alt="Card image">
                    <div class="card-img-overlay">
                      <h4 class="card-title" >
                        <a  routerLink="/{{courseSlug}}/{{g.slug}}" class="stretched-link">{{g.name}}</a> 
                        
                      </h4>
                      <p class="card-text" style="color: #AF227A !important;">{{g.description}}</p>
                     
                    </div>
                  </div>
                
             </div>
             
         </div>


          <!-- <a class="btn btn-light btn-sm" routerLink="/kerala-state/plus-two">Plus Two Grade</a>
           <pre>{{course | json}}</pre>   -->
        </div>

    </section>
    <wiw-footer></wiw-footer>
</div>

<ng-template #not_found>
    <app-not-found-page></app-not-found-page>
</ng-template>