<div *ngIf="courseList ; else not_found">
    <section class="page-wrapper">
        
        <div class="container">
            <div class="row">
   
                <div *ngFor="let course of courseList;" class="col-md-4 mb-4" >
                    <!-- <pre>{{p| json}}</pre> -->
                  

                      <div class="card" style=" background-color:#0062A6 ; color: white !important; webkit-box-shadow: inset 1px -31px 39px 18px rgba(0,0,0,0.27);
                      -moz-box-shadow: inset 1px -31px 39px 18px rgba(0,0,0,0.27);
                      box-shadow: inset 1px -31px 39px 18px rgba(0,0,0,0.27);">
                        <div class="card-body">
                           <img src="assets/images/sylabus-icons/{{course.image}}" style=" display: block;margin-left: auto; margin-right: auto;width: 50%; max-height: 110px !important;"
                           
                             >
                          <h4 class="card-title text-center"> <a  routerLink="/{{course.slug}}/{{course.grades.slug}}" class="stretched-link">{{course.name}}</a> </h4>
                          <hr style="  width: 100%;
                          height: 5px;
                          margin-left: auto;
                          margin-right: auto;
                          background-color:#0000;
                          border: 1 none;">
                          <p class="card-text">{{course.description}}</p>
                          
                        </div>
                      </div>


                 
                </div>
                
            </div>
   
   
            <div class="container">
            <!-- <a class="btn btn-light btn-sm" routerLink="/kerala-state/plus-two/kerala-state-plus-two-offline-bundle-pack">Kerala state plus two offline compo pack</a> -->
            <!-- <pre>{{courseList | json}}</pre> -->
        </div>
           </div>
        
           <app-demo-videos></app-demo-videos>
    </section>
    <wiw-footer></wiw-footer>
</div>

<ng-template #not_found>
    <app-not-found-page></app-not-found-page>
</ng-template>