<section class="page-wrapper">
 
  <h1 class="text-center gr-heading">Features.</h1>
  
  <section class="wiw-index-block7 py-5">
    <div class="container py-md-3 feature-block">
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text ">
          <h2 class="gr-heading">Watch Video Online & Offline</h2>
          <p>Our online package gives you the ability to stream high quality classes, give mock tests and clear doubts if you have an Internet connection. </p>
          <p>Our offline package comes with an encrypted pendrive that contains our video classes with the option of purchasing a tablet computer at an extra cost upon subscription.</p>
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/features/online-offline.png" class="img-fluid" alt="" />
        </div>
      </div>
      <!-- <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2>Practice Questions & Answers</h2>
          <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. </p>
          <a href="#">Learn more &raquo;</a>
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/mobile-app.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2>Raise and Clear Doubts</h2>
          <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. </p>
          <a href="#">Learn more &raquo;</a>
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/presenters/video-thumb1.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2>My Perfomance and Analytics</h2>
          <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. </p>
          <a href="#">Learn more &raquo;</a>
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/mobile-app.png" class="img-fluid" alt="" />
        </div>
      </div> -->

    </div>
    <div class="container py-md-3 feature-block">
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/features/practice.png" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 cwp17-text">
          <h2 class="gr-heading">Practice Questions & Answers</h2>
          <p>Our app provides practice questions classified both by chapter and topic. These practice questions are also classified on the basis of their complexity as easy, medium or hard questions. </p>
         
        </div>

      </div>

    </div>
    
    <div class="container py-md-3 feature-block">
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2 class="gr-heading">Sample question papers</h2>
          <p>We offer sample question papers and question papers from previous years  so that you may test the extent of your learning . </p>
          
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/features/sample-papers.png" class="img-fluid" alt="" />
        </div>
      </div>
     

    </div>
    <div class="container py-md-3 feature-block">
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/features/doubt.png" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 cwp17-text">
          <h2 class="gr-heading">Raise a doubt</h2>
          <p>We understand that questions and doubts are an essential part of learning and hence we’ve incorporated this into our app so that you may raise your doubts, given that you have a working internet connection. Your doubts will then be cleared by our support team of Subject Matter Experts.</p>
          
        </div>

      </div>

    </div>
    <div class="container py-md-3 feature-block">
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2 class="gr-heading">Performance analytics</h2>
          <p>Our app lets you know of your progress in learning by analysing your performance in test papers you have attended, marks you receive in them and the average time you have taken to complete tests, this helps you understand topics that require more. </p>
          
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/features/analytics.png" class="img-fluid" alt="" />
        </div>
      </div>
     

    </div>
  </section>
  
  </section>

  <wiw-footer></wiw-footer>