<section class="page-wrapper">

  <div class="container mb-">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Features.</h1>
        
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam rerum libero velit natus aut laborum, neque, culpa ut odio cumque totam laboriosam repudiandae sed ea ipsa possimus odit voluptatem consectetur.</p>
      </div>
    </div>
  </div>



  
  <section class="wiw-index-block7 py-5">
    <div class="container py-md-3">
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2>Watch Video Online & Offline</h2>
          <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. </p>
          <a href="#">Learn more &raquo;</a>
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/presenters/video-thumb.png" class="img-fluid" alt="" />
        </div>
      </div>
      <!-- <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2>Practice Questions & Answers</h2>
          <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. </p>
          <a href="#">Learn more &raquo;</a>
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/mobile-app.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2>Raise and Clear Doubts</h2>
          <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. </p>
          <a href="#">Learn more &raquo;</a>
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/presenters/video-thumb1.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2>My Perfomance and Analytics</h2>
          <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. </p>
          <a href="#">Learn more &raquo;</a>
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/mobile-app.png" class="img-fluid" alt="" />
        </div>
      </div> -->

    </div>
    <div class="container py-md-3">
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/hero.png" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 cwp17-text">
          <h2>Practice Questions & Answers</h2>
          <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. </p>
          <a href="#">Learn more &raquo;</a>
        </div>

      </div>

    </div>
    <div class="container py-md-3">
      <div class="row cwp17-two align-items-center">
        <div class="col-md-6 cwp17-text">
          <h2>My Perfomance & Analytics</h2>
          <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. </p>
          <a href="#">Learn more &raquo;</a>
        </div>
        <div class="col-md-6 cwp17-image">
          <img src="assets/images/presenters/video-thumb-4.png" class="img-fluid" alt="" />
        </div>
      </div>
     

    </div>

  </section>
  
  </section>

  <wiw-footer></wiw-footer>