<div *ngIf="grade ; else not_found">
    <section class="page-wrapper">

        <div class="container">
            <div class="main-title text-center">
                <h3 class="text-uppercase gr-heading"><span> <a routerLink="/{{courseSlug}}"
                            style="text-decoration: none !important;">{{course.name}}</a> </span>-
                    {{grade.name}} </h3>

                <!-- <p class="my-4">{{grade.description}} </p> -->
                <h5 *ngIf="grade.packages.length" class="text-uppercase mt-2 gr-heading">Available Packages</h5>
                <h5 *ngIf="!grade.packages.length" class="text-uppercase mt-2 gr-heading">Coming Soon</h5>
            </div>

            <div class="row">
                <div class="col">
                    <h5 class="gr-heading">Online Package</h5>
                    <p class="latest-font">Our online package gives you the ability to stream high quality classes, give
                        mock tests and clear doubts if you have an Internet connection.</p>
                    <h5 class="gr-heading">Offline Package</h5>
                    <p class="latest-font">Our offline package comes with an encrypted pendrive that contains our video
                        classes with the option of purchasing a tablet computer at an extra cost upon subscription.</p>
                </div>
            </div>

            <ng-container *ngIf="grade.packages.length;">
                <div class="row ">
                    <div class="col">
            
            
                        <mat-tab-group animationDuration="500ms">
                            <mat-tab label="All Packages">
                                <div class="container-fluid mt-4">
                                    <div class="row justify-content-md-center">
                                        <div *ngFor="let package of grade.packages;" class="col-sm-6 col-md-4 mb-4">
                                            <package-card [package]="package" [courseSlug]="courseSlug" [gradeSlug]="gradeSlug">
                                            </package-card>
                                        </div>
            
            
            
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Online Packages">
            
                                <div class="container-fluid mt-4">
                                    <div class="row justify-content-md-center">
                                        <ng-container *ngIf="grade.onlinePacks.length; else noPacksBlock;">
                                            <div *ngFor="let package of grade.onlinePacks;" class="col-sm-6 col-md-4 mb-4">
            
                                                <package-card [package]="package" [courseSlug]="courseSlug" [gradeSlug]="gradeSlug">
                                                </package-card>
            
            
                                            </div>
                                        </ng-container>
            
            
            
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Offline Packages">
                                <div class="container-fluid mt-4">
                                    <div class="row justify-content-md-center">
                                        <ng-container *ngIf="grade.offlinePacks.length; else noPacksBlock;">
                                            <div *ngFor="let package of grade.offlinePacks;" class="col-sm-6 col-md-4 mb-4">
                                                <package-card [package]="package" [courseSlug]="courseSlug" [gradeSlug]="gradeSlug">
                                                </package-card>
                                            </div>
                                        </ng-container>
            
            
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
            
                        <ng-template #noPacksBlock class="text-center">
                            <div class="text-center">
                                <img src="assets/images/no-content.svg" height="210" alt="no package availabe image">
                                <h5 class="mt-4">Currently No Packages Available 🙁</h5>
                            </div>
            
                        </ng-template>
            
                    </div>
                </div>
            </ng-container>


            




        </div>
        <div class="container">
            <hr>
            <app-demo-videos></app-demo-videos>
        </div>
    </section>
    <wiw-footer></wiw-footer>
</div>

<ng-template #not_found>
    <app-not-found-page></app-not-found-page>
</ng-template>