<div class="row no-gutters">
    <div class="col-md-4">
        <div class="card border-none">
            <div class="card-body">
                <img src="assets/images/features/online-offline.png" width="100%" alt="">
                <h5 class="text-center mt-2 gr-heading">ACCESS CLASSES OFFLINE</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-none">
            <div class="card-body">
                <img src="assets/images/features/practice.png" width="100%" alt="">
                <h5 class="text-center mt-2 gr-heading">PRACTICE QUESTIONS</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-none">
            <div class="card-body">
                <img src="assets/images/features/doubt.png" width="100%" alt="">
                <h5 class="text-center mt-2 gr-heading"> RAISE A DOUBT</h5>
            </div>
        </div>
    </div>
</div>