/* You can add global styles to this file, and also import other style files */
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }

.page-wrapper{
    padding: 100px 0px 90px 0px;
    min-height: 55vh;
    /* background-color: rgb(248, 245, 240); */
}
.middle {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card-body:hover .middle {
  opacity: 1;
}

.text {
  background-color:#ec130b;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
}

.card-body:hover .demo-image {
  opacity: 0.3;
}

.pointer {
    cursor: pointer !important;
}

.cap-cursor {
    cursor: url('assets/cursor.cur') , pointer;
}

p {
  margin-top:10px;
  margin-bottom: 10px;
}

.cdk-overlay-container {
  z-index: 2000;
}

.coin {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 25px auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: rotate3d 8s linear infinite;
          animation: rotate3d 8s linear infinite;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.coin__front,
.coin__back {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #E8D0BB;
}
.coin__front:after,
.coin__back:after {
  content: "";
  position: absolute;
  left: -50px;
  bottom: 100%;
  display: block;
  height: 66.6666666667px;
  width: 200px;
  background: #fff;
  opacity: 0.3;
  -webkit-animation: shine linear 4s infinite;
          animation: shine linear 4s infinite;
}

.coin__front {
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/US_One_Cent_Obv.png/440px-US_One_Cent_Obv.png"); */
  background-size: cover;
  -webkit-transform: translateZ(2.5px);
          transform: translateZ(2.5px);
}

.coin__back {
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/US_One_Cent_Rev.png/440px-US_One_Cent_Rev.png"); */
  background-size: cover;
  -webkit-transform: translateZ(-2.5px) rotateY(180deg);
          transform: translateZ(-2.5px) rotateY(180deg);
}

.coin__edge div:nth-child(1) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #3c2714;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(94.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(94.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(2) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #482f18;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(99deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(99deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(3) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #55371d;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(103.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(103.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(4) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #613f21;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(108deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(108deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(5) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #6d4625;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(112.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(112.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(6) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #784e29;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(117deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(117deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(7) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #84552c;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(121.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(121.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(8) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #8e5c30;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(126deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(126deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(9) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #996334;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(130.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(130.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(10) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #a36937;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(135deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(135deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(11) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ad703a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(139.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(139.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(12) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #b6763e;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(144deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(144deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(13) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #bf7c41;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(148.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(148.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(14) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c2824a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(153deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(153deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(15) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c58853;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(157.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(157.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(16) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c88e5b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(162deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(162deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(17) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ca9363;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(166.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(166.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(18) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cd986a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(171deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(171deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(19) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cf9d71;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(175.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(175.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(20) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #d1a278;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(180deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(180deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(21) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #d4a67f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(184.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(184.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(22) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #d6ab85;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(189deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(189deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(23) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #d8af8b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(193.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(193.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(24) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #dab290;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(198deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(198deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(25) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #dbb695;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(202.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(202.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(26) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ddb99a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(207deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(207deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(27) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #debd9f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(211.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(211.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(28) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e0bfa3;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(216deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(216deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(29) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e1c2a7;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(220.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(220.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(30) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e2c4aa;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(225deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(225deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(31) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e3c7ad;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(229.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(229.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(32) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e4c9b0;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(234deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(234deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(33) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e5cab3;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(238.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(238.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(34) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e6ccb5;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(243deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(243deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(35) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e7cdb7;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(247.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(247.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(36) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e7ceb8;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(252deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(252deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(37) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e7cfb9;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(256.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(256.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(38) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e8d0ba;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(261deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(261deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(39) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e8d0bb;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(265.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(265.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(40) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e8d0bb;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(270deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(270deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(41) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e8d0bb;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(274.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(274.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(42) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e8d0ba;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(279deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(279deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(43) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e7cfb9;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(283.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(283.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(44) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e7ceb8;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(288deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(288deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(45) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e7cdb7;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(292.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(292.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(46) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e6ccb5;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(297deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(297deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(47) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e5cab3;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(301.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(301.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(48) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e4c9b0;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(306deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(306deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(49) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e3c7ad;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(310.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(310.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(50) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e2c4aa;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(315deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(315deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(51) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e1c2a7;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(319.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(319.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(52) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #e0bfa3;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(324deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(324deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(53) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #debd9f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(328.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(328.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(54) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ddb99a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(333deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(333deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(55) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #dbb695;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(337.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(337.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(56) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #dab290;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(342deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(342deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(57) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #d8af8b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(346.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(346.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(58) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #d6ab85;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(351deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(351deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(59) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #d4a67f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(355.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(355.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(60) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #d1a278;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(360deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(360deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(61) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cf9d71;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(364.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(364.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(62) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cd986a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(369deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(369deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(63) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ca9363;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(373.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(373.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(64) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c88e5b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(378deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(378deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(65) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c58853;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(382.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(382.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(66) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c2824a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(387deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(387deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(67) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #bf7c41;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(391.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(391.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(68) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #b6763e;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(396deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(396deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(69) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ad703a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(400.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(400.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(70) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #a36937;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(405deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(405deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(71) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #996334;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(409.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(409.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(72) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #8e5c30;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(414deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(414deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(73) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #84552c;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(418.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(418.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(74) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #784e29;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(423deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(423deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(75) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #6d4625;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(427.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(427.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(76) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #613f21;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(432deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(432deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(77) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #55371d;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(436.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(436.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(78) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #482f18;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(441deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(441deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(79) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #3c2714;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(445.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(445.5deg) translateX(50px) rotateY(90deg);
}
.coin__edge div:nth-child(80) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #2e1e10;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(450deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(450deg) translateX(50px) rotateY(90deg);
}

.coin__shadow {
  position: absolute;
  width: 100px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 25px 25px #000;
  opacity: 0.125;
  -webkit-transform: rotateX(90deg) translateZ(-110px) scale(0.5);
          transform: rotateX(90deg) translateZ(-110px) scale(0.5);
}

@-webkit-keyframes rotate3d {
  0% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
            transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateY(360deg);
            transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes rotate3d {
  0% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
            transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateY(360deg);
            transform: perspective(1000px) rotateY(360deg);
  }
}
@-webkit-keyframes shine {
  0%, 15% {
    -webkit-transform: translateY(200px) rotate(-40deg);
            transform: translateY(200px) rotate(-40deg);
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(-40deg);
            transform: translateY(-100px) rotate(-40deg);
  }
}
@keyframes shine {
  0%, 15% {
    -webkit-transform: translateY(200px) rotate(-40deg);
            transform: translateY(200px) rotate(-40deg);
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(-40deg);
            transform: translateY(-100px) rotate(-40deg);
  }
}


