/* You can add global styles to this file, and also import other style files */
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
  }

.page-wrapper{
    padding: 100px 0px 90px 0px;
    min-height: 55vh;
    /* background-color: rgb(248, 245, 240); */
  }

.pointer {
    cursor: pointer !important;
  }

.cap-cursor {
    cursor: url('assets/cursor.cur') , pointer;
  }

p {
  margin-top:10px;
  margin-bottom: 10px;
}

.cdk-overlay-container {
  z-index: 2000;
}

.download-button{
  background:linear-gradient(135deg, #0062A6 0%,#b33066 100%);
  /* border:none !important; */
  border-radius: 80px !important;
  color: #fff !important; 
  transition: 0.5s;
}

.download-button:hover {
  background:#fff;
  color: #0062A6 !important; 
}

.radius-15 {
  border-radius: 15px;
}
.border-none {
  border: none !important;
}

.wiw-bg {
  background: linear-gradient(135deg, #0062a6 0%,#af227a 100%) !important;
}
.gr-heading{
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: 'Baloo Tamma 2', cursive; */
  font-family: 'Poppins', sans-serif;
  font-weight: 600 !important;
  background: -webkit-linear-gradient(360deg, #0062a6 0%,#af227a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.latest-font{
  font-family: 'Poppins', sans-serif;
      font-weight: 300 !important;
}

.disabled {
  cursor: not-allowed !important;
}

.bg-svg {
  /* background: url('https://media.prod.mdn.mozit.cloud/attachments/2012/07/09/3469/6587a382ffb2c944462a6b110b079496/no-dimensions-or-ratio.svg') !important; */
  background: url('assets/wave.svg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  ;
}