/* You can add global styles to this file, and also import other style files */
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }

.page-wrapper{
    padding: 90px 0px 90px 0px;
    min-height: 55vh;
    /* background-color: rgb(248, 245, 240); */
}

.pointer {
    cursor: pointer !important;
}

.cap-cursor {
    cursor: url('assets/cursor.cur') , pointer;
}