<section class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col pb-5">
                <h3 class="text-center mb-3">Privacy Policy</h3>
                <!-- <p align="center">
                    <strong>APPLICATION(APP) PRIVACY POLICY</strong>
                </p> -->
                <p>
                    <strong>Last updated</strong>
                    01 Aug 2020
                </p>
                <p>
                    <strong>Thinkivate Learning Pvt Ltd</strong>
                    . (“Company” or “Owner” or “we” or “us” or “our”) respects the privacy of
                    our users (“User” or “Customer” or “you” or “your”).
                </p>
                <p>
                    This Privacy Policy explains how we collect, use, disclose, and safeguard
                    your information when you visit our mobile application “ <strong>WIW Learn</strong>” (the
                    “Application” or “App”).<strong> </strong>
                    Please read this Privacy Policy carefully.
                </p>
                <p>
                    <em></em>
                </p>
                <p class="lead">
                    <em>
                        IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO
                        NOT ACCESS THE APPLICATION
                    </em>
                    .
                </p>
                <p>
                    We reserve the right to make changes to this Privacy Policy at any time and
                    for any reason. We will alert you about any changes by updating the “Last
                    updated” date of this Privacy Policy. You are encouraged to periodically
                    review this Privacy Policy to stay informed of updates. You will be deemed
                    to have been made aware of, will be subject to, and will be deemed to have
                    accepted the changes in any revised Privacy Policy by your continued use of
                    the Application after the date such revised Privacy Policy is posted.
                </p>
                <p>
                    This Privacy Policy does not apply to the third-party
                    online/mobile-store/payment-gateway from which you install the Application
                    or make payments, which may also collect and use data about you. We are not
                    responsible for any of the data collected by any such third party.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>COLLECTION OF YOUR INFORMATION</strong>
                </p>
                <p>
                    We may collect information about you in a variety of ways. The information
                    we may collect via the Application depends on the content and materials you
                    use, and includes:
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Personal Data</strong>
                </p>
                <p>
                    Demographic and other personally identifiable information (such as your
                    mobile no., name and email address) that you voluntarily give to us when
                    choosing to register in the Application or make any enquiries. All data you
                    disclose in these areas is private and your data will not be accessible to
                    anyone who accesses the Application.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Financial Data</strong>
                </p>
                <p>
                    Financial information, such as data related to your payment method that we
                    may collect when you make any purchase, from the Application. We store only
                    very limited, if any, financial information that we collect. Otherwise, all
                    financial information is stored by our payment processor [<a
                        href="https://razorpay.com/privacy/">RazorPay</a>] (link <a
                        href="https://razorpay.com/privacy/">https://razorpay.com/privacy/</a>),
                    and you are encouraged to review their privacy policy and contact them
                    directly for responses to your questions.
                </p>
                <p>
                    <strong>Geo-Location Information</strong>
                </p>
                <p>
                    We may request access or permission to and track location-based information
                    from your mobile device, either continuously or while you are using the
                    Application, to provide location-based services. If you wish to change our
                    access or permissions, you may do so in your device’s settings.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Log Data</strong>
                </p>
                <p>
                    We want to inform you that whenever you use our Service, in case of an
                    error in the app we collect data and information (through third party
                    products) on your phone called Log Data. This Log Data may include
                    information such as your device Internet Protocol (“IP”) address, device
                    name, operating system version, the configuration of the app when utilizing
                    our Service, the time and date of your use of the Service, and other
                    statistics.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Mobile Device Access</strong>
                </p>
                <p>
                    We may request access or permission to certain features from your mobile
                    device, as mentioned below: -
                </p>
                <ul>
                    <li>
                        Access precise location (GPS &amp; Network based)
                    </li>
                    <li>
                        Read the contents of your SD card/USB device.
                    </li>
                </ul>
                <p>
                    · Modify or delete the contents of your SD card/USB device.
                </p>
                <ul>
                    <li>
                        Have full network access.
                    </li>
                    <li>
                        View wi-fi connections.
                    </li>
                    <li>
                        View network connections.
                    </li>
                    <li>
                        Prevent phone from sleeping.
                    </li>
                    <li>
                        Receive data from internet.
                    </li>
                    <li>
                        Read the contents of SMS.
                    </li>
                    <li>
                        Show on Lock Screen.
                    </li>
                    <li>
                        Home screen shortcuts.
                    </li>
                    <li>
                        Permanent notification.
                    </li>
                </ul>
                <p>
                    If you wish to change our access or permissions, you may do so in your
                    device’s settings.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Push Notifications</strong>
                </p>
                <p>
                    We may request to send you push notifications regarding your account or the
                    Application. If you wish to opt-out from receiving these types of
                    communications, you may turn them off in your device’s settings.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Cookies</strong>
                </p>
                <p>
                    Cookies are files with a small amount of data that are commonly used as
                    anonymous unique identifiers. These are sent to your browser from the
                    websites that you visit and are stored on your device's internal memory.
                </p>
                <p>
                    This Service does not use these “cookies” explicitly. However, the app may
                    use third party code and libraries that use “cookies” to collect
                    information and improve their services.
                </p>
                <p>
                    <strong></strong>
                </p>
                <strong>
                    <br clear="all" />
                </strong>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>USE OF YOUR INFORMATION</strong>
                </p>
                <p>
                    Having accurate information about you, permits us to provide you with a
                    smooth, efficient, and customized experience. Specifically, we may use
                    information collected about you via the Application to:
                </p>
                <p>
                    a) Compile anonymous statistical data and analysis for use internally or
                    with third parties.
                </p>
                <p>
                    b) Create and manage your account.
                </p>
                <p>
                    c) Email you regarding your account or order.
                </p>
                <p>
                    d) Fulfill and manage purchases, orders, payments, and other transactions
                    related to the Application.
                </p>
                <p>
                    e) Increase the efficiency and operation of the Application.
                </p>
                <p>
                    f) Notify you of updates to the Application.
                </p>
                <p>
                    g) Process payments.
                </p>
                <p>
                    h) Request feedback and contact you about your use of the Application.
                </p>
                <p>
                    i) Resolve disputes and troubleshoot problems.
                </p>
                <p>
                    j) Respond to product and customer service/enquiry requests.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>DISCLOSURE OF YOUR INFORMATION</strong>
                </p>
                <p>
                    We may share information we have collected about you in certain situations.
                    Your information may be disclosed as follows:
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>By Law or to Protect Rights</strong>
                </p>
                <p>
                    If we believe the release of information about you is necessary to respond
                    to legal process, to investigate or remedy potential violations of our
                    policies, or to protect the rights, property, and safety of others, we may
                    share your information as permitted or required by any applicable law,
                    rule, or regulation.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Third-Party Service Providers</strong>
                </p>
                <p>
                    We may share your information with third parties that perform services for
                    us or on our behalf, including payment processing, data analysis, email
                    delivery, hosting services, customer service, and marketing assistance.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Information Collection and Use</strong>
                </p>
                <p>
                    For a better experience, while using our Service, we may require you to
                    provide us with certain personally identifiable information. The
                    information that we request will be retained by us and used as described in
                    this privacy policy.
                </p>
                <p>
                    The App does use third party services that may collect information used to
                    identify you. Link to privacy policy of third party service providers used
                    by the app
                </p>
                <ul>
                    <li>
                        <a href="https://www.google.com/policies/privacy/" target="_blank">
                            Google Play Services
                        </a>
                    </li>
                    <li>
                        <a href="https://firebase.google.com/policies/analytics" target="_blank">
                            Google Analytics for Firebase
                        </a>
                    </li>
                    <li>
                        <a href="https://firebase.google.com/support/privacy/" target="_blank">
                            Firebase Crashlytics
                        </a>
                    </li>
                </ul>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Affiliates</strong>
                </p>
                <p>
                    We may share your information with our affiliates, in which case we will
                    require those affiliates to honor this Privacy Policy. Affiliates include
                    our parent company and any subsidiaries, joint venture partners or other
                    companies that we control or that are under common control with us.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Sale or Bankruptcy</strong>
                </p>
                <p>
                    If we reorganize or sell all or a portion of our assets, undergo a merger,
                    or are acquired by another entity, we may transfer your information to the
                    successor entity. If we go out of business or enter bankruptcy, your
                    information would be an asset transferred or acquired by a third party. You
                    acknowledge that such transfers may occur and that the transferee may
                    decline honor commitments we made in this Privacy Policy.
                </p>
                <p>
                    We are not responsible for the actions of third parties with whom you share
                    personal or sensitive data, and we have no authority to manage or control
                    third-party solicitations. If you no longer wish to receive correspondence,
                    emails or other communications from third parties, you are responsible for
                    contacting the third party directly.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>TRACKING TECHNOLOGIES</strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Cookies and Web Beacons</strong>
                </p>
                <p>
                    We may use cookies, web beacons, tracking pixels, and other tracking
                    technologies on the Application to help customize the Application and
                    improve your experience. When you access the Application, your personal
                    information is not collected through the use of tracking technology. Most
                    browsers are set to accept cookies by default. You can remove or reject
                    cookies, but be aware that such action could affect the availability and
                    functionality of the Application. You may not decline web beacons. However,
                    they can be rendered ineffective by declining all cookies or by modifying
                    your web browser’s settings to notify you each time a cookie is tendered,
                    permitting you to accept or decline cookies on an individual basis.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Website/App Analytics</strong>
                </p>
                <p>
                    We may also partner with selected third-party vendors, such as
                    “Google-Analytics/Firebase-Crashlytics” to allow tracking technologies on
                    the Application through the use of first party cookies and third-party
                    cookies, to, among other things, analyze and track users’ use of the
                    Application, determine the popularity of certain content, and better
                    understand online activity. By accessing the Application, you consent to
                    the collection and use of your information by these third-party vendors.
                    You are encouraged to review their privacy policy and contact them directly
                    for responses to your questions. We do not transfer personal information to
                    these third-party vendors.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>SECURITY OF YOUR INFORMATION</strong>
                </p>
                <p>
                    We use administrative, technical, and physical security measures to help
                    protect your personal information. While we have taken reasonable steps to
                    secure the personal information you provide to us, please be aware that
                    despite our efforts, no security measures are perfect or impenetrable, and
                    no method of data transmission can be guaranteed against any interception
                    or other type of misuse.
                </p>
                <p>
                    Any information disclosed online is vulnerable to interception and misuse
                    by unauthorized parties. Therefore, we cannot guarantee complete security
                    if you provide personal information.
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>CONTACT US</strong>
                </p>
                <p>
                    If you have questions or comments about this Privacy Policy, please contact
                    us at: info@wiwlearn.com
                </p>

            </div>
        </div>
    </div>
</section>
<wiw-footer></wiw-footer>