.border-none {
    border: none;
}

.radius-15 {
    border-radius: 15px;
}
.quotation{
    font-family: 'Palanquin', sans-serif !important;
    font-size: 1.1em !important;
    margin: 0 auto !important;
    quotes: "\201C""\201D""\2018""\2019" !important;
    padding-top: 20px;
    /* padding: 5px 20px !important; */
    font-weight: 300;
    line-height: 1.4 !important;
    color: rgb(77, 69, 69)  !important;
  }
.quotation:before {
    content: open-quote;
    display: inline;
    /* height: 0; */
    line-height: 0;
    left: -10px;
    position: relative;
    top: 15px;
    color: rgb(0, 0, 0);
    font-size: 3em;
  }
  .quotation::after {
    content: close-quote;
    display: inline;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 25px;
    color: rgb(0, 0, 0);
    font-size: 3em;
  }
  footer{
    margin:0;
    text-align: right;
    font-size: 0.9em;
    font-style: italic;
  }