.border-none {
    border: none;
}

.radius-15 {
    border-radius: 15px;
}


.download-button{
    background:linear-gradient(135deg, #0062A6 0%,#b33066 100%);
    border:none !important;
    border-radius: 80px !important;
    /* color: #0062A6 !important; */

}
