<section class="page-wrapper">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="gr-heading">Frequently Asked Questions</h2>

        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Frequently asked questions one ?
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                Currently I am closed
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae doloribus nihil
                            aliquid! Et quaerat cumque nisi animi dolor repudiandae id fuga vero minima, voluptas odit
                            omnis aliquid molestias perspiciatis cupiditate?
                            In doloremque perspiciatis saepe aliquam laudantium, voluptatum, est, suscipit assumenda
                            excepturi nemo distinctio illum incidunt deleniti alias officiis. Ad, excepturi ab? Cumque,
                            similique nostrum. Possimus aperiam enim corporis ipsum vitae.
                            Iste quibusdam nulla deleniti. Enim esse omnis pariatur ipsa nihil repellat ex, rerum unde.
                            Incidunt atque illo odio nobis officia omnis repellendus. Porro, autem pariatur. Nostrum
                            quas quasi pariatur maiores?
                            Id, nisi voluptatum odio laborum in ab quasi magnam nihil ratione fugiat enim consequuntur
                            voluptatibus facere sed optio modi molestiae dolores voluptatem? Dolore similique eum
                            fugiat, sunt quasi deserunt repellendus?</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Frequently asked questions two Frequently asked questions two ?
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                label if any.
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti consequatur sed cumque
                            libero accusamus quidem itaque eveniet tempora adipisci ratione ducimus in consequuntur
                            laudantium, eos eius, modi sapiente nisi ab?Eos nulla, voluptates debitis quisquam labore
                            dicta quasi provident odio saepe similique! Ipsa molestias odit amet ea libero esse modi sed
                            nesciunt voluptatum temporibus, alias consequuntur quisquam velit consectetur quasi.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Frequently asked questions three ?
                            </mat-panel-title>
                            <mat-panel-description>
                                label if any.
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem est nobis quidem,
                            repellendus amet provident, dolores, molestias quae rem voluptates esse rerum temporibus
                            facilis ea aliquid tenetur incidunt corporis nihil!
                            Minus facilis, modi unde magnam officia repellat doloribus repellendus aliquid animi ratione
                            perferendis non aut, eum dolor sed quos consequatur iusto nesciunt saepe, repudiandae
                            quibusdam tempore recusandae. Quasi, quibusdam quis?
                            Ullam fugiat ducimus voluptates itaque dolorem odit ab tempore sequi optio. Provident,
                            blanditiis. Assumenda alias, harum possimus tempora qui, delectus nulla rem eveniet
                            temporibus eaque beatae natus. Iure, quaerat esse!
                            Facere debitis placeat numquam iste praesentium culpa saepe quibusdam assumenda deserunt ex
                            tempore ipsum suscipit est aliquid a, voluptates aut, error fugiat doloremque maiores non ad
                            temporibus? Sed, distinctio vel.
                            Ullam dolor, culpa esse molestiae veritatis qui quod error similique debitis, adipisci quia
                            accusamus. Nihil repudiandae earum qui fugit dolor. Doloribus nostrum sed ex! Atque odio
                            possimus voluptate debitis minima!</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Frequently asked questions three two ?
                            </mat-panel-title>
                            <mat-panel-description>
                                another label if any.
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem est nobis quidem,
                            repellendus amet provident, dolores, molestias quae rem voluptates esse rerum temporibus
                            facilis ea aliquid tenetur incidunt corporis nihil!
                            Minus facilis, modi unde magnam officia repellat doloribus repellendus aliquid animi ratione
                            perferendis non aut, eum dolor sed quos consequatur iusto nesciunt saepe, repudiandae
                            quibusdam tempore recusandae. Quasi, quibusdam quis?
                            Ullam fugiat ducimus voluptates itaque dolorem odit ab tempore sequi optio. Provident,
                            blanditiis. Assumenda alias, harum possimus tempora qui, delectus nulla rem eveniet
                            temporibus eaque beatae natus. Iure, quaerat esse!
                            Facere debitis placeat numquam iste praesentium culpa saepe quibusdam assumenda deserunt ex
                            tempore ipsum suscipit est aliquid a, voluptates aut, error fugiat doloremque maiores non ad
                            temporibus? Sed, distinctio vel.
                            Ullam dolor, culpa esse molestiae veritatis qui quod error similique debitis, adipisci quia
                            accusamus. Nihil repudiandae earum qui fugit dolor. Doloribus nostrum sed ex! Atque odio
                            possimus voluptate debitis minima!</p>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>

    </div>

</section>
<wiw-footer></wiw-footer>