<section class="page-wrapper">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="gr-heading">Frequently Asked Questions</h2>

        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <mat-accordion>
                    <mat-expansion-panel class="my-1\">
                        <mat-expansion-panel-header>
                            <mat-panel-title >
                                <strong>Is WIW Learn available on IOS?</strong>
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                Currently I am closed
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>Our app is currently available only for android devices. Our IOS version will be coming shortly.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="my-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Can we ask doubts, and attend questions while offline?</strong>
                                
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                label if any.
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>No, You need to have a stable Internet connection to ask doubts and attend tests on our app.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="my-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>What's the difference between Online and Offline Packages?</strong>
                                
                            </mat-panel-title>
                            <!--<mat-panel-description>
                                label if any.
                            </mat-panel-description>-->
                        </mat-expansion-panel-header>
                        <p>- Our online package allows users to access all the features of our application including stream videos, ask doubts and attend tests.</p>
                        <p>- Our offline package allows you to watch videos through our app with the help of the provided encrypted pendrive without an Internert connection. Users will however not be able to attend tests or clear doubts without an internet connection.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="my-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Is your support available 24/7?</strong>
                               
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                another label if any.
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>No, Our support and customer service team is available during our working hours which is from 9AM to 5PM on Monday's to Saturday's</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="my-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>How can I purchase your product?</strong>
                               
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                another label if any.
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>We currently have two packages, an online package which requires Internet connection to access the videos and features of the app and an offline package, which doesnot require an Internet connection to stream videos and will still require an Internet connection to use other features such as doubt clearance and tests, both of which can be purchased through our free App availabe on Android Google Play Store.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="my-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Do you have COD option for your products?</strong>
                              
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                another label if any.
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>Yes, We have a cash on delivery(COD) option for our offline package.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="my-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Do you provide EMI option for purcahses?</strong>
                               
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                another label if any.
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>Unfortunately, we do not provide an EMI provision for products.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="my-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Are the prices mentioned including tax or Is it added on purchase? </strong>
                               
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                another label if any.
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>No, All our mentioned prices are inclusive of taxes.</p>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>

    </div>

</section>
<wiw-footer></wiw-footer>