.download-button{
    background:linear-gradient(135deg, #0062A6 0%,#b33066 100%);
    /* border:none !important; */
    border-radius: 50px !important;
    color: #fff !important; 

}

.form-group:hover .download-button {
    background:#fff;
    color: #0062A6 !important; 
  }

.details li {
    list-style: none;
    text-decoration: none;
    font-size: 1.2em;
  }

  .icon {
      margin-right: 15px;
  }