<!-- contacts -->
<section class="wiw-contact mt-5">
  <div class="contacts-9 py-5 mt-5">
    <div class="container py-lg-3">
      <div class="row top-map">
        <div class="cont-details col-md-6 mb-5">
          <div class="heading mb-lg-4 mb-4">
            <h3 class="head">Contact us </h3>
          </div>
          <div class="cont-top">
            <div class="cont-left">
              <span class="fa fa-phone text-primary"></span>
            </div>
            <div class="cont-right">
              <p><a href="tel:0495-2760366">0495-2760366</a></p>

            </div>
          </div>
          <div class="cont-top">
            <div class="cont-left">
              <span class="fa fa-whatsapp text-success"></span>
            </div>
            <div class="cont-right">
              <p><a href="tel:+916235803333">+91 6235803333</a></p>

            </div>
          </div>
          <div class="cont-top mt-4">
            <div class="cont-left">
              <span class="fa fa-envelope-o text-primary"></span>
            </div>
            <div class="cont-right">
              <p><a href="mailto:support@wiwlearn.com" class="mail">support@wiwlearn.com</a></p>
            </div>
          </div>
          <div class="cont-top mt-4">
            <div class="cont-left">
              <span class="fa fa-map-marker text-primary"></span>
            </div>
            <div class="cont-right">
              <p>3rd Floor MSons Arcade, Cherrotty Road, Calicut, Kerala-673001</p>
            </div>
          </div>
          <div class="cont-top mt-4">
            <div class="cont-left">
              
              
            </div>
            <div class="cont-right">
              <p style="font-weight: bold !important;">Working Hours : 9 AM to 5 PM (Monday to saturday)</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card radius-15" >
            <div class="card-body">
              <div class="mb-3">
                <h4>Have a doubt ? Ask Us.</h4>
              <small>we are happy to help you..</small>
              </div>


              <form action="" name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input class="form-control" id="name" type="text" 
                  formControlName="name" 
                  [ngClass]="{
                    'is-invalid':form.get('name').touched && form.get('name').invalid
                  }"
                  >
                  <div class="invalid-feedback">
                    <div>Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" id="email" type="email"
                  formControlName="email" 
                  [ngClass]="{
                    'is-invalid':form.get('email').touched && form.get('email').invalid
                  }"
                  >
                  <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('email').errors.required">Email is required</div>
                    <div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="mobile">Mobile</label>
                  <input class="form-control" id="mobile" type="tel"
                  formControlName="mobile" 
                  [ngClass]="{
                    'is-invalid':form.get('mobile').touched && form.get('mobile').invalid
                  }"
                  >
                  <div *ngIf="form.get('mobile').touched && form.get('mobile').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('mobile').errors.required">Mobile Number is required</div>
                    <div *ngIf="form.get('mobile').errors.minlength">Minimum 10 Digits Mobile Number</div>
                    <!-- <div *ngIf="form.get('mobile').errors.pattern">Minimum 10 Digits Mobile Number</div> -->
                  </div>
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" rows="3"
                  formControlName="message" 
                  [ngClass]="{
                    'is-invalid':form.get('message').touched && form.get('message').invalid
                  }"
                  ></textarea>
                  <div *ngIf="form.get('message').touched && form.get('message').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('message').errors.required">Message  is required</div>
                    <div *ngIf="form.get('message').errors.minlength">Minimum 5 charecters are required</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="hidden" name="remarks">
                  <!-- <input  type="button" value="Submit"> -->
                  <button class="btn btn-outline-primary download-button" [disabled]="!form.valid" type="submit">Submit</button>
                </div>
              </form>




            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  
</section>
<section class="wiw-about4">
  <div class="contact1-bg py-5">
    <div class="container py-lg-3">
      <div class="contact-main row align-items-center">
        <div class="col-md-6">
          <div class="column">
            <h3 class="header mb-4">We Are Here For You, Always.</h3>
           
          </div>
          <div class="column2">

            <h6 class="contact-address">Thinkivate Learning - 3rd Floor MSons Arcade, Cherrotty Road, Calicut, Kerala-673001, India</h6>

          </div>
        </div>
        <div class="col-md-6 map mt-md-0 mt-4">
          <div class="card shadow radius-15">
            <div class="card-body">
              <iframe

          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3913.087246626858!2d75.77414511480505!3d11.254992091997856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x87c011f4155024f3!2sThinkivate%20Learning%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1592384979736!5m2!1sen!2sin"
          allowfullscreen=""></iframe>
            </div>
          </div>

        </div>
       
      </div>
    </div>
  </div>
</section>
<!-- //contacts -->
<wiw-footer></wiw-footer>